# Build outputs
build/
app/build/
*.apk
*.aab

# Gradle
.gradle/

# IDE - IntelliJ / Android Studio
.idea/*
!.idea/vcs.xml
*.iml

# Local configuration
local.properties

# Captures and Native Build
captures/
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db
.kotlin
.vscode
settings.gradle.kts
